version: '3'
services:
  postgres:
    image: 'postgres:latest'
  redis:
    image: 'redis:latest'
  nginx:
    restart: always
    build:
      context: ./nginx
      dockerfile: Dockerfile.dev
    ports:
      - "80:80"
  api:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    volumes:
      - "complex-server-node-modules:/app/server/node_modules/"
      - "./server:/app/server"
    environment: 
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PGUSER=postgres
      - PGHOST=postgres
      - PGPORT=5432
      - PGDATABASE=postgres
      - PGPASSWORD=postgres_password
  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile.dev
    volumes:
      - "complex-worker-node-modules:/app/worker/node_modules/"
      - "./worker:/app/worker"
    environment: 
      - REDIS_HOST=redis
      - REDIS_PORT=6379
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    volumes:
      - "complex-client-node-modules:/app/client/node_modules/"
      - "./client:/app/client"
volumes:
  complex-server-node-modules:
  complex-worker-node-modules:
  complex-client-node-modules: